<h2> Itinerariu </h2>
<form id="search_form">
	<label>Unde vei pleca?</label>
	<input type="text" id="textbox">
	<button onclick="onClick()">Caută</button>
</form>
<div id="info"></div>
<div id="list"></div>
<div id="poi"></div>
<button id="next_button" onclick="onNextTrip()">Next</button>