<h1> Rezultat quiz </h1>
<div id="rezultate" style="text-align: center;">
	<h3> Ar trebui să iei în considerare: </h3>
	<% 
	if( ( max==0 && intrebari[4]!=0 ) || ( intrebari[0]==0 && intrebari[5] == 0 && intrebari[1] ==0) ){ %>
		<p id="grecia">
			<h3> Grecia </h3>
			<br/>	
			Imaginează-te pe o plaja la soare.. apoi la umbra unui arbore de unde poți privi marea.. te-am convins?	
			<br/>
			<img src="../images/grecia.jpg" />
			<br/>
		</p>
	<%} else if ( intrebari[5]==0 && intrebari[2]==0 ) {%>
		<p hidden id="maldive">
			<h3> Maldive </h3>
			<br/>
			Lasă grijile acasă și bucură-te de altă lume
			<br/>
			<img src="../images/maldive.jpg" />
			<br/>	
		</p>
	<%} else if( intrebari[2] == 1 && intrebari[5]==1) {%>
		<p id="elvetia">
			<h3> Elveția </h3>
			<br/>
			Puțină adrenalină nu strică, ce spui despre o vacanță la înălțime?
			<br/>
			<img src="../images/elvetia.jpg" />
			<br/>	
		</p>
	<%} else if( intrebari[1] == 1 ||  intrebari[4] == 0 ) {%>
		<p hidden id="roma">
			<h3> Italia - Roma </h3>
			<br/>
			Credem ca te vei bucura de un oraș plin de romantism, poezie si artă
			<br/>
			<img src="../images/roma.jpg" />
			<br/>	
		</p>
	<% } else if( intrebari[2]==1) {%>
		<p hidden id="bali">
			<h3> Bali </h3>
			<br/>
			Hai să adunăm aventura cu istoria, ce crezi ca va rezulta?
			<br/>
			<img src="../images/bali.jpg" />
			<br/>	
		</p>
	<%} else {%>
		<p hidden id="amalfi">
			<h3> Italia - Coasta Amalfi </h3>
			<br/>
			Munte, mare, aventură sau relaxare, aici poți avea parte de toate
			<br/>
			<img src="../images/amalfi.jpg" />
			<br/>	
		</p>
	<%}%>
</div>











