<script src="../js/top.js"></script>
<h2> Top destinații </h2>
<p> Vrei să știi care sunt cele mai vizitate locații? Click <a style="border: black 2px;" onclick="getTop()">aici</a></p>
<div id="top"></div>

