<script src="../js/top.js"></script>

<p id="textLogat"> Logat ca <%= utilizator%>. 
	<a href="autentificare/delogare">Delogare</a>
</p>
<h2> Top destinații </h2>
<p id="askDest"> Vrei să știi care sunt cele mai vizitate locații? Click <a class="aici" onclick="getTop()">aici</a></p>
<div id="top"></div>

